<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wagtail Model Maker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <style>
        th {
            text-align: left;
            font-weight: 500;
        }

        table {
            border-spacing: 0 0.1em;
        }

        td {
            padding-top: 0px;
        }

        .light-green {
            color: aquamarine;
        }

        pre {
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 4px;
        }

        .dropzone {
            border: 2px dashed #ccc;
            padding: 20px;
            text-align: center;
            cursor: pointer;
        }

        .thumbnail {
            max-width: 300px;
            max-height: 300px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body class="w-100 avenir black-80 bg-pink">
    <div id="app" class="mw7 center pa2 black-80">
        <div>
            <h1 class="f1 lh-solid mb4 white">
                <span class="light-blue">Wagtail</span><span class="light-green">Model</span>Maker
            </h1>
            <form @submit="formSubmit">
                <label for="question" class="f4 db mb3">Describe the page you want
                    <span class="white">
                        (<a href="#" class="link dim white" @click.prevent="populateExample1">prose example </a> /
                        <a href="#" class="link dim white" @click.prevent="populateExample2">list
                            example</a>)
                    </span>
                </label>
                <textarea id="question" class="input-reset lh-copy f4 ba b--black-20 pa2 mb1 db w-100 br2" rows="3"
                    v-model="question"></textarea>
                <div id="dropzone" @dragover.prevent @drop.prevent="handleDrop"
                    class="dropzone mt2 lh-copy f4 bg-light-pink br2">
                    <img v-if="thumbnail" :src="thumbnail" class="thumbnail" />
                    <span v-else>or drop a screenshot here</span>
                </div>
                <input id="submit" class="dim mt3 pointer ph3 pv2 input-reset ba b--black br2 bg-transparent f4 mb3"
                    type="submit" :value="button_text" />
                <a v-if="question" @click="refineDescription"
                    class="dim mt0 pointer ph3 pv2 input-reset bg-transparent f4 mb3">
                    {{ refine_button_text }}</a>

                <input type="file" ref="fileInput" style="display: none" @change="handleFileInput" />
            </form>

            <div class="mt0 f5" v-if="answer">
                <pre v-html="highlightedAnswer"></pre>
            </div>
            <button v-if="answer" @click="copyToClipboard"
                class="dim mt0 pointer ph3 pv2 input-reset ba b--black br2 bg-transparent f4 mb3">
                {{ copy_button_text }}
            </button>
            <p class="mt0 f5 i" v-if="cost">API cost: {{ cost }}</p>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                question: "",
                answer: "",
                cost: "",
                button_text: "Tell me",
                thumbnail: null,
                copy_button_text: "Copy code",
                refine_button_text: "Refine my description",
                display: false,
                imageFile: null,
                formAction: '/api/ask',
            },
            computed: {
                highlightedAnswer() {
                    return hljs.highlightAuto(this.answer).value;
                },
            },
            methods: {
                formSubmit(e) {
                    e.preventDefault();
                    app.button_text = "Working it out...";
                    app.answer = "";
                    app.cost = "";

                    const formData = new FormData();

                    if (app.imageFile) {
                        formData.append('screenshot', app.imageFile);
                    } else {
                        formData.append('q', app.question);
                    }

                    fetch(app.formAction, {
                        method: 'POST',
                        body: formData,
                    })
                        .then(async function (response) {
                            let json = await response.json();
                            let resp = json["answer"];
                            app.answer = resp;
                            app.cost = json["cost"];
                            app.button_text = "Tell me";
                            // app.thumbnail = null;
                            app.imageFile = null;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                toggleText() {
                    this.display = !this.display;
                },
                copyToClipboard() {
                    navigator.clipboard.writeText(this.answer);
                    app.copy_button_text = "Copied!";
                },
                handleDrop(event) {
                    const file = event.dataTransfer.files[0];
                    this.handleFile(file);
                },
                handleFileInput(event) {
                    const file = event.target.files[0];
                    this.handleFile(file);
                },
                handleFile(file) {
                    if (file && file.type.startsWith('image/')) {
                        this.imageFile = file;
                        this.formAction = '/api/ask_image';

                        const reader = new FileReader();
                        reader.onload = (event) => {
                            this.thumbnail = event.target.result;
                        };
                        reader.readAsDataURL(file);
                    } else {
                        alert('Please drop a valid image file.');
                    }
                },
                populateExample1() {
                    this.question = "A blog page with a title, a rich text body field called 'description' (optional), a hero image called 'lead image' (required), and a date field called 'launch date'.";
                    var textarea = document.getElementById("question");
                    textarea.rows = 2;
                },
                populateExample2() {
                    this.question = "Blog Page:\n- Title (CharField)\n- Hero Image (ImageField, optional)\n- Body (RichTextField)\n- Author (PageField, link to Author Page)\n- Date Published (DateField)\n- Tags (TagField)\n- Excerpt (TextField)\n\nAuthor Page:\n- Name (CharField)\n- Bio (RichTextField)\n- Profile Picture (ImageField)";
                    var textarea = document.getElementById("question");
                    textarea.rows = 13;
                },
                refineDescription() {
                    app.refine_button_text = "Refining...";
                    api_url = "/api/refine?q=" + app.question;
                    fetch(api_url)
                        .then(async function (response) {
                            let json = await response.json();
                            let resp = json["description"];
                            app.question = resp;
                            app.cost = json["cost"];
                            app.refine_button_text = "Refine this description";
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
        });
    </script>
</body>

</html>